<ion-app>
  <ion-header>
    <ion-toolbar>
<ion-row> 
  <ion-column size="10"><ion-title>WSB 13.06.2020</ion-title> </ion-column>
  <ion-column size="1">  <ion-icon name="search-outline" ></ion-icon></ion-column>
  <ion-column size="1" class="ion-align-items-end"> 
   
  </ion-column>
</ion-row>
      
     
    </ion-toolbar>
  </ion-header>

  <ion-content >
    <ion-card>
      <ion-card-header style="background-color:blue; ">
        <ion-card-title style="color: white;">Gilbert</ion-card-title>
        <ion-card-subtitle style="color: white;">Tuesday 2020</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
      <img src="assets/City.jpg" alt="">
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
    </ion-card>
    

    

  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <ion-title>Footer</ion-title>
    </ion-toolbar>
  </ion-footer>

</ion-app>